<html>
    <body>
        <form action="#" th:action="@{/}" th:object="${personForm}" method="post">
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" th:field="*{name}" /></td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                </tr>
                <tr>
                    <td>Age:</td>
                    <td><input type="text" th:field="*{age}" /></td>
                    <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</td>
                </tr>
                <!--   
                <tr>
                <select th:field="${autori}">
   					 <option th:value="$autori.getName()" th:text="$autori.getName()"></option>
       			 </select>
                </tr>
                -->
                <!--  -->
                <td>Autori</td>
					<td><form:select path=""${autori}">
					<form:option value=''/>
   					<form:option value="autori.getName()" label="autori.getName()"/>
   					</form:select></td>
                <tr>
                -->
                <select th:field="${autori}">
  					<option th:each="type : ${allTypes}" 
         			 th:value="autori.getName()" 
         			 th:text="$autori.getName()">Autori</option>
					</select>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>
